html, body {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    background-color: #001b35;
    overflow: hidden;
}

#bannerLogo {
    height: 150px;
    background: transparent url(../images/mapMatrixBanner.png) fixed no-repeat top left;
}
 
#mapMatrix {
    position: fixed;
    top: 150px;
    right: 0; bottom: 0; left: 0;
    /*border-color: red;*/
    /*border-top-width: 8px;*/
    background-color: white;
}
